<nav class="navbar navbar-default navbar-fixed-top" style="background-color: white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <%= image_tag('jam.png', size: '125x35', class: 'nav-logo-2', style: 'margin-bottom: 5px') %>
        </a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                <li>

                  <form class="navbar-form" role="search">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name="q">
                      <div class="input-group-btn">
                        <button class="btn btn-default ajax" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                      </div>
                    </div>
                  </form>

                </li>
                <li>
                    <p class="navbar-text">
                        <%= link_to current_user.name, user_path(current_user) %>
                    </p>
                </li>
                <li>
                  <p class="navbar-button">
                    <%= button_to "Logout", logout_path, method: :delete, class: "button1id", class: "btn btn-success btn-sm" %>
                  </p>
                </li>
            <% else %>
                <li>
                    <p class="navbar-button">
                        <%= button_to "Login with Spotify", spotify_login_path, method: :get, class: "button1id", class: "btn btn-success btn-sm" %>
                    </p>
                </li>
                <% end %>
            </div>
        </div>
    </nav>
    <br>
    <br>

    <table class="table table-striped custab">
        <thead>
          <center><h2 class="featured"><span>All <%#= @artist.first.name %> Concerts</span></h2></center>
          <br>
            <tr>
                <th>Date</th>
                <th>Artist</th>
                <th>Venue</th>
                <th>City</th>
                <th>Send Email</th>
                <th>  <center> Ticket Link</center></th>
              </tr>
        </thead>

    </table>

    <A NAME="codeword"></a>
    <br>
    <hr>
    <center>
        <form accept-charset="UTF-8" action="/sent" class="new_user" id="new_user" method="get">
          <h3 style="margin-bottom: 25px; text-align: center;">Send You and Your Friends a Reminder</h3>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Message" maxlength="140" rows="7" required></textarea>
            </div>
            <input class="btn btn-default" name="commit" type="submit" value="Send Email">
        </form>
    </center>
    <br>
    <br>
