<%= render partial: "shared/navbar2" %>
<div class="jumbotron-artist">
    <div class="container"></div>
</div>
<br>
<br>
<div class="container">
<center>
    <h2 class="featured">
        <span>20 Most Played Artists</span>
    </h2>
</center>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <% @top_artists.each do |artist| %>
    <div class="col-md-3">
      <div class="card">
        <%= link_to image_tag(artist.images.second[:url], size: "250x250", class: "", class: "card-img-top"), ("#{concerts_path}""?name=#{artist.name}") %>
        <div class="card-block">
          <h4 class="card-title">
            <%= link_to "#{artist.name} Concerts", ("#{concerts_path}""?name=#{artist.name}") %>  
          </h4>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
