<%= render partial: "shared/navbar2" %>
<div class="jumbotron-artist">
    <div class="container"></div>
</div>
<br>
<br>
<br>

<div class="container">
<center>
    <h2 class="featured">
        <span>20 Most Played Tracks</span>
    </h2>
</center>
</div>
<br>

<div class="container">
  <div class="row">
    <% @top_tracks.each do |track| %>
    <div class="col-md-4">
      <center>  <iframe src="https://embed.spotify.com/?uri=<%= track.uri %>&theme=white" width="260" height="380" frameborder="0" allowtransparency="true"></iframe></center>
        </div>
        <% end %>
      </div>
    </div>
