<nav class="navbar navbar-default navbar-fixed-top" style="background-color: white">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
              <%= link_to image_tag('jam.png', size: '125x35', class: 'nav-logo', style: 'margin-bottom: 5px'), root_path %>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                <li>
                    <p class="navbar-text">
                        <%= link_to current_user.name, user_path(current_user) %>
                    </p>
                </li>
                <li>
                    <p class="navbar-button">
                        <%= button_to "Logout", logout_path, method: :delete, class: "button1id", class: "btn btn-success btn-sm" %>
                    </p>
                </li>

            <% else %>
                <li>
                    <p class="navbar-text">
                        <%= link_to "Login with Spotify", spotify_login_path %>
                    </p>
                </li>
                <% end %>
            </div>
        </div>
    </nav>
