<%= render partial: "shared/navbar2" %>
            <center> <%= image_tag("ac.jpg", size: '260x300', class: "about") %></center>
               <h3>
                <a href="https://github.com/antciccone"><center>Anthony Ciccone</center></a>
               </h3>
           </div>
