body {
}

.jumbotron {
    background:  asset_url("concert.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.jumbotron {
    padding-top: 200px;
    padding-bottom: 250px;
}


.featured {
  color: grey;
   width: 55%;
   text-align: center;
   border-bottom: 1px solid grey;
   line-height: 0.1em;
   margin: 10px 0 20px;
}


.featured span {
    background:#fff;
    padding:0 10px;
    padding-bottom: 10px;
}

.artists-image > img {
  border-radius: 3.5px;
}

.btn-success {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: 40px;
}

/*footer*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  display: block;
  margin-top: auto;
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.jumbotron-artist {
    background:  asset_url("cd1.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

}

.jumbotron-artist {
    padding-top: 200px;
    padding-bottom: 250px;
}

.userpic {
  margin-top: 8px;
}

.jam {

}

.nav > li > a {
    position: relative;
    display: block;
    padding-left: 0px;

}

.nav-logo {


}

// table
.col-md-offset-2 {
  margin-left: 0px;
}

// calender

.date-body{
  background-color: #0072bc;padding-bottom: 5px;
}
.date-body .date-title{
  color: white;
}

.date-body .date-content{
  background-color: white;margin-left: 5px;margin-right: 5px;
}
.date-body .date-content p.dia{
  margin: 0; font-size: 12px; font-weight: bold;
}
.nomargin{
  margin: 4px;
}

.text-center.date-body {
  width: 100px;
  height: 100px;
}

.custom-button-width {
  padding-bottom: 3px;
  margin-bottom: 3px;
}

// user comments
.testimonial {
    margin-bottom: 10px;
}

.testimonial-section {
    width: 100%;
    height: auto;
    padding: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #fff;
}

.testimonial-section:after {
    top: 100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

.testimonial-desc {
    margin-top: 20px;
    text-align: left;
    padding-left: 15px;
}

.testimonial-desc img {
    border: 1px solid #f5f5f5;
    border-radius: 150px;
    height: 70px;
    padding: 3px;
    width: 70px;
    display: inline-block;
    vertical-align: top;
}

.testimonial-writer {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.testimonial-writer-name {
    font-weight: bold;
}

.testimonial-writer-designation {
    font-size: 85%;
}

.testimonial-writer-company {
    font-size: 85%;
}
/*---- Outlined Styles ----*/
.testimonial.testimonial-default {}

.testimonial.testimonial-default .testimonial-section {
    border-color: #777;
}

.testimonial.testimonial-default .testimonial-section:after {
    border-top-color: #777;
}

.testimonial.testimonial-default .testimonial-desc {}

.testimonial.testimonial-default .testimonial-desc img {
    border-color: #777;
}

.testimonial.testimonial-default .testimonial-writer-name {
    color: #777;
}

.testimonial.testimonial-primary {}

.testimonial.testimonial-primary .testimonial-section {
    border-color: #337AB7;
    color: #286090;
    background-color: rgba(51, 122, 183, 0.1);
}

.testimonial.testimonial-primary .testimonial-section:after {
    border-top-color: #337AB7;
}

.testimonial.testimonial-primary .testimonial-desc {}

.testimonial.testimonial-primary .testimonial-desc img {
    border-color: #337AB7;
}

.testimonial.testimonial-primary .testimonial-writer-name {
    color: #337AB7;
}

.testimonial.testimonial-info {}

.testimonial.testimonial-info .testimonial-section {
    border-color: #5BC0DE;
    color: #31b0d5;
    background-color: rgba(91, 192, 222, 0.1);
}

.testimonial.testimonial-info .testimonial-section:after {
    border-top-color: #5BC0DE;
}

.testimonial.testimonial-info .testimonial-desc {}

.testimonial.testimonial-info .testimonial-desc img {
    border-color: #5BC0DE;
}

.testimonial.testimonial-info .testimonial-writer-name {
    color: #5BC0DE;
}

.testimonial.testimonial-success {}

.testimonial.testimonial-success .testimonial-section {
    border-color: #5CB85C;
    color: #449d44;
    background-color: rgba(92, 184, 92, 0.1);
}

.testimonial.testimonial-success .testimonial-section:after {
    border-top-color: #5CB85C;
}

.testimonial.testimonial-success .testimonial-desc {}

.testimonial.testimonial-success .testimonial-desc img {
    border-color: #5CB85C;
}

.testimonial.testimonial-success .testimonial-writer-name {
    color: #5CB85C;
}

.testimonial.testimonial-warning {}

.testimonial.testimonial-warning .testimonial-section {
    border-color: #F0AD4E;
    color: #d58512;
    background-color: rgba(240, 173, 78, 0.1);
}

.testimonial.testimonial-warning .testimonial-section:after {
    border-top-color: #F0AD4E;
}

.testimonial.testimonial-warning .testimonial-desc {}

.testimonial.testimonial-warning .testimonial-desc img {
    border-color: #F0AD4E;
}

.testimonial.testimonial-warning .testimonial-writer-name {
    color: #F0AD4E;
}

.testimonial.testimonial-danger {}

.testimonial.testimonial-danger .testimonial-section {
    border-color: #D9534F;
    color: #c9302c;
    background-color: rgba(217, 83, 79, 0.1);
}

.testimonial.testimonial-danger .testimonial-section:after {
    border-top-color: #D9534F;
}

.testimonial.testimonial-danger .testimonial-desc {}

.testimonial.testimonial-danger .testimonial-desc img {
    border-color: #D9534F;
}

.testimonial.testimonial-danger .testimonial-writer-name {
    color: #D9534F;
}

.cat-description {
  padding-bottom: 20px;
}

.category-count {
  font-family: sans-serif, Helvetica;
  font-weight: bold;
  font-size: 50px;
}

.navbar-collapse {
    background-color: white;
  }

.second-col {
  margin-top: 25px;
}



.user-image {
  margin-left: 200px;
  border-radius: 100px;
}

.user-page-info {
  font-family: "Times New Roman";
  font-size: 25px;
}

.user-page-info-link {
  font-family: "Times New Roman";
  font-size: 15px;
}

input {
  margin-right: 180px;
}

.card-img-top {
  border-radius: 8px;
}

.navbar-brand {
  padding-top: 10px;
}

a.navbar-brand {
  margin-top: 5px;
}
img.nav-logo {
  margin-top: 10px;
}


form {
   display: inline-block;
   text-align: center;
 }

 .concerts-img {
   height: 85px;
   width: 85px;
 }
