body {
  padding-top: 70px;
}

.jumbotron {
    background:  asset_url("concert.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.jumbotron {
    padding-top: 200px;
    padding-bottom: 250px;
}


.featured {
  color: grey;
   width: 55%;
   text-align: center;
   border-bottom: 1px solid grey;
   line-height: 0.1em;
   margin: 10px 0 20px;
}


.featured span {
    background:#fff;
    padding:0 10px;
    padding-bottom: 10px;
}

.artists-image img {
  border-radius: 1.5%
}

.btn-success {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: 10px;
}

/*footer*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  display: block;
  margin-top: auto;
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.jumbotron-artist {
    background:  asset_url("artist.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

}

.jumbotron-artist {
    padding-top: 200px;
    padding-bottom: 250px;
}

.userpic {
  margin-top: 8px;
}
